<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- metadata -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compativle" content="ie=edge">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="pragma" content="no-cache">
		<!-- page title -->
		<title>NaN header</title>
		<!-- local machine -->
		<!-- <base href="file:///H:/source/projects/leaf-c-utilities/"> -->
		<!-- deployment -->
		<!-- <base href="https://sage-etcher.github.io/leaf-c-utilities/"> -->
		<!-- include materialize stylesheet -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<!-- include material fonts -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- include local stylesheets -->
		<link href="../../stylesheets/atomic.css" rel="stylesheet">
		<link href="../../stylesheets/general.css" rel="stylesheet">
	</head>
	<body>

		<header>
			<!-- navbar start -->
			<nav>
				<div class="nav-wrapper">
					<a href="./index.html" class="brand-logo" id="page-title">Leaf Utilities</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="./index.html">Home</a></li>
						<li><a href="#!">Getting Started</a></li>
						<li><a href="#!">Documentation</a></li>
						<li><a href="https://github.com/sage-etcher/leaf-c-utilities">Github</a></li>
					</ul>
				</div>
			</nav>

			<!-- mobile nav dropdown -->
			<ul class="sidenav" id="mobile-demo">
				<li><a href="../../index.html">Home</a></li>
				<li><a href="../../index.html#getting-started">Getting Started</a></li>
				<li><a href="../../index.html#documentation">Documentation</a></li>
				<li><a href="https://github.com/sage-etcher/leaf-c-utilities">Github</a></li>
			</ul>
		</header>
		<!-- navbar end -->

		<!-- content wrapper start -->
		<main id="page-wrapper">
			<!-- content grid start -->	
			<div class="row">

				<!-- quick access start -->
				<div class="col m4 l3 hide-on-small-only" id="quick-access-wrapper">
					<div id="quick-access-container">
						<!-- search box start -->
						<div class="input-field" id="quick-access-search-wrapper">
			
							<span class="material-icons filter-ico prefix"></span>
							<input placeholder="Filter by title" id="quick-access-search" type="text">
						</div> <!-- search box end -->

						<div class="scrollable">
							<ul id="search-content-display">
							</ul>
						</div>


					</div>	
				</div> <!-- quick access end -->


				<!-- main page content start -->
				<div class="col s12 m8 l6" id="main-page-content-wrapper">

					<ul class="horizontal-list" id="path-list">
						<li><a href="#!" class="small-text">Documentation</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
						<li><a href="#!" class="small-text">Leaf Utilities</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
						<li><a href="#!" class="small-text">Headers</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
					</ul>

					<!-- Title -->
					<h3 id="page-main-title">NaN header</h3>
					<p class="grey-text text-darken-1">Article &#x2022; 00/00/0000</p>
			
					<h6><b>In this article</b></h6>
					<ul class="no-bullet small-indent left-border">
						<li class="small-indent"><a href="#function-header">Functions</a></li>
						<li class="small-indent"><a href="#structure-header">Structures</a></li>
						<li class="small-indent"><a href="#enumeration-header">Enumerations</a></li>
                        <li class="small-indent"><a href="#constant-header">Constants</a></li>
					</ul>

					<p>NaN contains the following programming interfaces:</p>
				
					<a name="function-header"></a>
					<h4>Functions</h4>
					<table>
						<thead>
							<tr>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>
									<a href="#!">NaN</a>
									<br><br>
									NaN	
								</td>
							</tr>
						</tbody>
                    </table>
                   
					<a name="structure-header"></a>
                    <h4>Structures</h4>
                    <table>
                        <thead>
                            <tr>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <a href="#!">Nan</a>
                                    <br><br>
                               		NaN 
								</td>
                            </tr>
                        </tbody>
                    </table>
                  
					<a name="enumeration-header"></a>
					<h4>Enumerations</h4>
                    <table>
                        <thead>
                            <tr>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <a href="#!">NaN</a>
                                    <br><br>
									NaN
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
					<a name="constant-header"></a>
                    <h4>Constants</h4>
                    <table>
                        <thead>
                            <tr>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
									<a href="#!">NaN</a>
									<br><br>
									NaN
                                </td>
                            </tr>
                        </tbody>
                    </table>

				</div> <!-- main page content end -->
			

				<!-- additional resources start -->
				<div class="col l3 hide-on-med-and-down" id="additional-resources-wrapper">
					<div class="container">	
						<h5 class="additional-resources-title"><b>Additional resources</b></h6>
						
						<h6 class="additional-resources-subtitle"><b>Documentation</b></h6>

						<!-- items -->
						<div class="additional-resources-item">
							<a href="#!"><b>NaN</b></a>
							<p></p>
						</div>	
					</div>
				</div> <!-- additional resources end -->
			</div> <!-- main content grid end -->	
		</main> <!-- content wrapper end -->

		<footer class="blue-grey lighten-4">
			<ul class="horizontal-list inline-block left">
				<li><a href="../../index.html" class="not-quite-bold">Leaf Utilities</a></li>
				<li><a href="#!" class="not-quite-bold">Buy me a Koffee</a></li>
			</ul>

			<ul class="horizontal-list inline-block right">
				<li><a href="#top">Back to the top</a></li>
				<li><a href="../../index.html">Home Page</a></li>
				<li><a href="https://github.com/sage-etcher/leaf-c-utilities">Poject Github</a></li>
				<li><a href="https://github.com/sage-etcher/leaf-c-utilities/tree/doc-pages">Site Github</a></li>
				<li><a href="https://github.com/sage-etcher/leaf-c-utilities/blob/doc-pages/LICENSE">Licensing</a></li>
				<li>&copy; Sage I. Hendricks 2023</li>
			</ul>
		</footer>


	    <!-- Materialize JS include -->
   	 	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<!-- Jquery include -->
		<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
		<!-- include javascript -->
		<script src="../../scripts/nav-bar.js" async></script>	
		<script src="../../scripts/search-bar.js" async></script>	
	</body>
</html>
